.love-hover {
    color: rgb(245, 94, 119);
}
.row-drop-indicator {
    margin: 2px;
    border-top: 50px solid alpha(@accent_color, 0.2);
}

flowboxchild {
    background: none;
}

.profile-row.selected {
    background-color: alpha(@accent_bg_color, 0.5);
    border-radius: 10px;
}

.profile-row.selected:focus {
    background-color: alpha(@accent_bg_color, 0.7);
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.wobble-animation {
  animation: wobble 1s ease-in-out 1;
}