.love-hover {
    color: rgb(245, 94, 119);
}

.drop-target {
    transition: background-color 150ms ease, border 150ms ease;
}

.drop-target:drop(active) {
    border-radius: 12px;
    background-color: alpha(@accent_color, 0.12);
    border: 1px solid alpha(@accent_color, 0.35);
}

.drop-area {
    background-color: alpha(@accent_color, 0.12);
    border: 1px solid alpha(@accent_color, 0.35);
    border-radius: 12px;
    transition: background-color 150ms ease, border 150ms ease;
}

.drop-begin {
    padding: 3px;
    background: alpha(@accent_color, 0.15);
    border-radius: 12px;
    border: 1px solid alpha(@accent_color, 0.2);
}

.drag-row:drop(active) {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

.boxed-list row {
    border-bottom: none;
}

flowboxchild {
    background: none;
}

.profile-row.selected {
    background-color: alpha(@accent_bg_color, 0.2);
    border-radius: 10px;
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.wobble-animation {
  animation: wobble 1s ease-in-out 1;
}

.custom-order-active {
    background-color: alpha(@accent_bg_color, 0.2);
}
