name: Flatpak Build

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  flatpak:
    name: "Build Flatpak"
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
      options: --privileged
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dnf install -y flatpak flatpak-builder

      - name: Setup Flatpak
        run: |
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak install --user -y flathub org.gnome.Platform//49
          flatpak install --user -y flathub org.gnome.Sdk//49
          flatpak install --user -y flathub org.freedesktop.Platform.VulkanLayer.MangoHud//25.08

      - name: Build
        run: |
          flatpak-builder --user --force-clean --arch=x86_64 build-dir build-aux/flatpak/io.github.radiolamp.mangojuice.json

      - name: Create Bundle
        run: |
          flatpak build-export repo build-dir
          flatpak build-bundle repo io.github.radiolamp.mangojuice-x86_64.flatpak io.github.radiolamp.mangojuice

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mangojuice-x86_64.flatpak
          path: io.github.radiolamp.mangojuice-x86_64.flatpak
